$width: 100px;
$height: 100px;
$gap: 1px;
$calendar-padding: 10px;
$days-in-week: 7;
$calendar-width: calc(
  #{$days-in-week} * #{$width} + (#{$days-in-week} - 1) * #{$gap} + 2 * #{$calendar-padding}
);
$font-size-day-number: 30px;
$hover-bg-color: #ffbfcb;
$base-margin: $width + $gap;
$days-margin: (
  mon: 0,
  tue: $base-margin,
  wed: $base-margin * 2,
  thu: $base-margin * 3,
  fri: $base-margin * 4,
  sat: $base-margin * 5,
  sun: $base-margin * 6,
);
